*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body{
  font-family: Omnes;
  background-image: url("/img/background.png");
}

nav{
  position: sticky;
  background: sienna;
  height: 80px;
  width: 100%;
  font-family: Omnes;
  text-align: center;
  top: 0;
  bottom: 0;
  z-index: 10;
}

nav img{
  display: inline-block;
  margin-right: 1%;
  position: relative;
  top: 15px;
}

li.logo{
  display: inline-block;
  position: relative;
  color: white;
  font-size: 2.2rem;
}

li.logo:hover{
  text-shadow:
 -2px -2px 0 burlywood,  
  2px -2px 0 burlywood,
  -2px 2px 0 burlywood,
   2px 2px 0 burlywood;
}

nav ul{
  display: inline-block;
  text-align: center;
  margin-left: 40px;
}
nav ul li{
  display: inline-block;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: max(1.5rem, 1.5rem);
  padding: 14px 26px;
  border-radius: 5px;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
}

nav ul li a:hover{
  background-color: burlywood;
  transition: 0.2s ease-in-out;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 766px){
  nav ul li a{
    font-size: 1rem;
  }
}

@media (max-width: 1000px){
  nav ul {
    margin-left: auto;
  }
  li.logo{
    font-size: min(6vw, 2.2rem);
}
nav ul li a{
  padding: 0 .8vh;
  transition: 0.1s;
}
}

@media (max-width: 500px){
  li.logo{
      font-size: min(6vw, 2.2rem);
      line-height: 75px;
      transition: 0.1s;
  }
  

  nav img{
      position: relative;
      left: 0;
      width: 40px;
      transition: 0.1s;
    }

    img.ss {
      padding: 20px 30px;
      width: 50%;
      min-width: 100%;
    } 
    img.ss2 {
      padding: 20px 30px;
      width: 50%;
      min-width: 100%;
    }
}

@media (max-width: 766px){
  .checkbtn{
    position: relative;
    display: block;
    z-index: 10;
  }
  nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: gray;
    top: 80px;
    left: 100%;
    text-align: center;
    transition: all .5s;
    margin-left: 0;
  }
  nav ul li{
    display: block;
    line-height: 10vh;
    margin: 5vh 0;
  }
  nav ul li a{
    font-size: 2rem;
    padding: 6vh 30%;
  }
  #check:checked ~ ul{
    left: 0;
  }
  div#main{
    width: 100%;
    text-align: justify;
  }
  img.ss {
    padding: 20px 30px;
    width: 49%;
  } 
  img.ss2 {
    padding: 20px 30px;
    width: 49%;
  }
  
}

header {
  font-family: Omnes;
}

@font-face{
  font-family: Omnes;
  src:url(../font/Omnes.otf);
}


div#main{
  display:block;
  width: min(1000px, 100%);
  height: auto;
  margin: 10px auto;
  border-radius: 20px;
  background-color: burlywood;
  color: white;
  text-shadow:
 -2px -2px 0 rgb(92, 92, 92),  
  2px -2px 0 rgb(92, 92, 92),
  -2px 2px 0 rgb(92, 92, 92),
   2px 2px 0 rgb(92, 92, 92);
  text-align: center;
}

div p{
  padding: 20px 30px;
  text-align: justify;
  font-size: 1.3rem;
}

div h1{
padding: 20px 0px;
text-align: center;
font-size: 2rem;
}

div h2{
padding: 20px 0px;
text-align: center;
font-size: 2rem;
}

img.download{
display: inline-block;
height: auto;
width: min(300px, 70%);
margin-bottom: 2%;
text-align: center;
-webkit-filter: drop-shadow(5px 5px 5px #222);
filter: drop-shadow(2px 2px 2px 2px #222);
}

img.download:hover{
transform: scale(1.02);
}

img.ss {
display: inline-block;
padding: 20px 30px;
border-radius: 40px;
-webkit-filter: drop-shadow(5px 5px 5px #222);
filter: drop-shadow(2px 2px 2px 2px #222);
}


img.ss2 {
display: inline-block;
padding: 20px 30px;
border-radius: 40px;
-webkit-filter: drop-shadow(5px 5px 5px #222);
filter: drop-shadow(2px 2px 2px 2px #222);
}

img.ss:hover {
transform:scale(1.02);
}

img.ss2:hover {
display: inline-block;
padding: 20px 30px;
transform:scale(1.02);
}

div#posttitle {
padding-top: 40px;
font-size: 2rem;
}

div#posttitle a {
  text-decoration: underline;
  margin: 0 5px;
  color: inherit;
  }

div#posttitle a:visited {
  color: inherit;
  }

div#inposttitle {
  padding-top: 40px;
  font-size: 2rem;
  margin-right: 20px;
  }
  
div#inposttitle a {
  text-decoration: none;
  margin: 0 5px;
  color: inherit;
  }

div#postdate {
  padding-top: 10px;
  font-size: 1.5rem;
}

div#postcontent {
padding-bottom: 10px;
}

img#postimg{
width: 80%;
clear: both;
margin: auto;
display: block;
transition: 0.1s ease-in-out;
border-radius: 20px;
-webkit-filter: drop-shadow(5px 5px 5px #222);
filter: drop-shadow(2px 2px 2px 2px #222);
}

img#postimg:hover{
transform: scale(1.02);
transition: 0.1s ease-in-out;
}

hr.divider{
  color: gray;
  height: 3px;
  width: 85%;
  z-index: 100;
  margin: auto;
}

.team-member {
  text-align: center;
  margin: 20px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 200px;
  display: inline-block;
}
.team-member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

img#ourmods {
  width: 80%;
  clear: both;
  margin: auto;
  padding: 20px 0;
  display: block;
  transition: 0.1s ease-in-out;
  border-radius: 50px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(2px 2px 2px 2px #222);
}

img#ourmods:hover{
  transform: scale(1.02);
  transition: 0.1s ease-in-out;
  }