body {
background: #000000;
text-align: center;
}
header {
width: 1000px;
height: 60px;
background: #bebebe;
margin: 50px auto 0;
padding: 10px;
}
main {
width: 1000px;
height: 600px;
background: #bebebe;
margin: auto;
padding: 10px;
}
h1 {
text-align: left;
font-family:"Comic Sans MS";
font-size: 32pt;
color: #808080;
text-shadow: 1px 1px 2px red;
display: inline;
}
hr {
height: 2px;
color: #ff3819;
}
p {
font-family:"Comic Sans MS";
font-size: 16pt;
text-align: left;
text-indent: 0px;
color: #000000;
box-sizing: border-box;
padding-left: 30px;
}
footer {
width: 400px;
height: auto;
background: #bebebe;
margin: 25px auto;
padding: 10px;
}
footer {
font-family:"Comic Sans MS";
font-size: 12pt;
text-align: center;
text-shadow: 1px 1px 2px gray;
outline: 2px dashed yellow;
box-shadow: 0 0 0 2px black;
border-style: inset;
}
a {
    text-decoration: none;
    color: inherit;
}
.flex {
    display: flex;
}
#title {
    margin-left: 30px;
    margin-right: 30px;
}
#gif {
    width:250px;
    height:auto;
    float:left;
    margin:20px 30px;
}